<div class="row">
	<div class="twelve mobile-four columns">
		<h1 class="page_title"><%= @list.name %></h1>
	</div>
</div>
<div class="row">
	<dl class="tabs">
  		<dd class="active"><a href="#simple1">To do</a></dd>
  		<dd><a href="#simple2">Done</a></dd>
	</dl>
	<ul class="tabs-content">
  		<li class="active" id="simple1Tab">
  			<ul>
				<% @list.tasks.incomplete.each do |task| %>
				<div class="ten mobile-three columns"><li><%= task.description %></div> 
					<div class="two mobile-one columns"><%= button_to "Complete", complete_task_path(@list.id,task.id) %></div>
				</li>
				<% end %>
			</ul>
  		</li>
 		 <li id="simple2Tab">
  			<ul>
				<% @list.tasks.completed.each do |task| %>
				<div class="twelve mobile-four columns"><li><%= task.description %></li></div>
				<% end %>
			</ul>
  		</li>
  	</ul>
</div>
<div class="row collapse">
	<div class="ten mobile-three columns">
		<%= form_for [@list, @list.tasks.new] do |form| %>
		<%= form.text_field :description %> 
	</div>
	<div class="two mobile-one columns">
		<%= form.submit "Create Task" , :class => 'button expand postfix' %>
		<% end %>
	</div>
</div>
<div class="row">
<hr>
<%= link_to "All lists", lists_path %>
</div>
