<div class="row">
  <div class="twelve columns centered">
    <h2>Resend confirmation instructions</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="six mobile-four columns centered">
<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>
</div>

<div class="row">
  <div class="six mobile-one columns centered">
    <%= f.submit "Resend confirmation instructions" , :class => "button medium" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="six mobile-four columns centered">
	<%= render "devise/shared/links" %>
  </div>
</div>