<div class="row">
	<div class="twelve columns centered">
		<h1 class="page_title">Sign up</h1>
	</div>
</div>
<br>
<div class="row">
	<div class="six mobile-four columns centered">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  		<%= devise_error_messages! %>
  		<%= f.label :email %><%= f.email_field :email %>
	</div>
 </div>


<div class="row">
	<div class="six mobile-four columns centered">
		<%= f.label :password %>
  		<%= f.password_field :password %>
  	</div>
</div>

<div class="row">  
  	<div class="six mobile-four columns centered">	
  		<%= f.label :password_confirmation %>
 		<%= f.password_field :password_confirmation %>
  	</div>
</div>


<div class="row">
  	<div class="six mobile-one columns centered">
  	<%= f.submit "Sign up" , :class => 'button medium' %>
  	<% end %>
  	</div>
</div>
<br>
<div class="row">
	<div class="six mobile-four columns centered">
	<%= render "devise/shared/links" %>
	</div>
</div>
