<div class="row">
  <div class="twelve columns centered">
    <h1 class="page_title">Forgot your password?</h2>
  </div>
</div>
<br>
<div class="row">
  <div class="six mobile-four columns centered">
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  	<%= devise_error_messages! %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit "Send me reset password instructions" , :class => "button medium" %>
<% end %>
  </div>
</div>

<div class="row">
  	<div class="six mobile-one columns centered">
      <%= render "devise/shared/links" %>
    </div>
</div>
